body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle, #0b0f2a, #000);
  color: white;
  overflow: hidden;
}

#desktop {
  height: 100vh;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.icon {
  width: 90px;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border: 1px solid cyan;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-top: 1px solid cyan;
}

.window {
  position: absolute;
  width: 250px;
  height: 200px;
  background: #111;
  border: 1px solid cyan;
  border-radius: 10px;
  padding: 10px;
}

.title {
  cursor: move;
  background: cyan;
  color: black;
  padding: 5px;
  border-radius: 5px;
}